---
import '../styles/global.css';
const { content } = Astro.props;
---

<script is:inline>
	const theme = localStorage.getItem('theme') || 'dark';
	document.documentElement.classList[theme === 'dark' ? 'add' : 'remove']('dark');

	if (!localStorage.getItem('theme')) {
		localStorage.setItem('theme', 'dark');
	}
	const observer = new MutationObserver(() => {
		const isDark = document.documentElement.classList.contains('dark');
		localStorage.setItem('theme', isDark ? 'dark' : 'light');
	});
	observer.observe(document.documentElement, {
		attributes: true,
		attributeFilter: ['class'],
	});
</script>


<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
